* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    display: grid;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #000000;
}

.container h2 {
    text-align: center;
    font-size: 26px;
    color: orangered;
    font-family: sans-serif;
}

input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 350px;
    border-radius: 5px;
    border: none;
    border: 2px solid orangered;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

input::placeholder {
    font-size: 20px;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.btn {
    font-size: 15px;
    padding: 13px 50px;
    border: 2px solid orangered;
    background-color: orangered;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    color: white;
    background-color: rgb(203, 55, 1);
}